<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>Ma page d'accueil</title>
	</head>
	<body>
		<h1>Bienvenue sur ma page d'accueil</h1>
		<p>C'est ma première page avec Symfony !</p>
	</body>
</html>
