<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Ma page d'accueil</title>
</head>
<body>
    <h1>Bienvenue sur ma page d'accueil</h1>
    <p>C'est ma première page avec Symfony !</p>
</body>
</html>