{% extends "base.html.twig" %}

{% block body %}
	<div>
		{{ form_start (bucketForm) }}

		{{ form_widget (bucketForm) }}

		<button>Create!</button>

		{{ form_end (bucketForm) }}
	</div>
{% endblock %}

{% block title %}
	Create a new serie |
	{{ parent() }}
{% endblock %}
